[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pulumi = "*"
pulumi-digitalocean = "*"
pulumi-kubernetes = "*"

[dev-packages]
ipython = "*"
docker = "*"

[requires]
python_version = "3.7"
